/* Start Landing Page Hero Styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
body {
  font-family: Georgia, serif;
  color: #333;
  font-size: 1.4rem;
  line-height: 2rem; }

a {
  color: #000; }

.home-button {
  height: 30px;
  width: 60px;
  position: fixed;
  z-index: 1;
  background-color: #ECADA5;
  padding-left: 2px;
  border-radius: 5px; }

.home-button a {
  color: #f5f5f5;
  font-size: 20px; }

.portfolio-header {
  position: fixed;
  font-size: 82px;
  top: 45%;
  left: 38%;
  color: #f5f5f5; }

h1 {
  font-size: 2.6rem;
  line-height: 2.6rem; }

.content {
  margin: 0 auto;
  max-width: 90%;
  width: 720px; }

main {
  padding: 1% 0;
  position: relative;
  background: #f5f5f5;
  box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.25);
  height: 100%; }

footer p {
  font-size: .8rem;
  font-weight: bold;
  color: #ccc; }

footer a {
  color: #ccc; }

/* --- Important Pen Styles --- */
.zoom {
  overflow: hidden;
  padding-bottom: 55%; }

.zoom img {
  position: fixed;
  top: 0%;
  left: 50%;
  max-width: 200%;
  transform: translateX(-50%);
  /* Thanks  @bastian_fiessinger. Use when activating blur effect:
  will-change: -webkit-filter, filter, transform; */ }

@media (max-width: 770px) {
  .portfolio-header {
    top: 25%;
    left: 28%; } }
@media (max-width: 520px) {
  .portfolio-header {
    position: fixed;
    font-size: 62px;
    top: 15%;
    left: 18%;
    color: #f5f5f5; } }
@media (max-width: 667px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: left; }

  .content {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    height: 100%;
    text-align: justify; }

  .zoom {
    overflow: hidden;
    padding-bottom: 75%; } }
/* Begin Projects */
/*PEN STYLES*/
body {
  background: #f1f1f1;
  margin: 2rem; }

.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .blog-card:hover .details {
    left: 0; }
  .blog-card:hover.alt .details {
    right: 0; }
  .blog-card.alt .details {
    right: -100%;
    left: inherit; }
  .blog-card .photo {
    height: 200px;
    position: relative; }
    .blog-card .photo.photo1 {
      background: url("./images/owatchopt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo2 {
      background: url("./images/GitBattle.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo3 {
      background: url("./images/videoplayeropt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo4 {
      background: url("./images/gameopt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo5 {
      background: url("./images/cmsopt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo6 {
      background: url("./images/craftBar.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo7 {
      background: url("./images/champRantsOpt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo8 {
      background: url("./images/wpAPIopt.gif") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo9 {
      background: url("./images/RobMar_opt.gif") center no-repeat;
      background-size: cover; }
  .blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 300px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%; }
    .blog-card .details > li {
      padding: 3px 0; }
    .blog-card .details li:before, .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      margin-right: 10px;
      vertical-align: middle; }
    .blog-card .details .author:before {
      content: "\f007"; }
    .blog-card .details .date:before {
      content: "\f133"; }
    .blog-card .details .tags ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .blog-card .details .tags ul:before {
        content: "\f02b"; }
    .blog-card .details .tags li {
      display: inline-block;
      margin-right: 3px; }
    .blog-card .details a {
      color: inherit;
      border-bottom: 1px dotted; }
      .blog-card .details a:hover {
        color: #75D13B; }
  .blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative; }
    .blog-card .description h1 {
      font-family: "Roboto";
      line-height: 1em;
      margin: 0 0 10px 0; }
    .blog-card .description h2 {
      color: #9b9b9b;
      font-family: "Open Sans";
      line-height: 1.2em;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      margin: 1.2% 0; }
    .blog-card .description p {
      position: relative;
      margin: 0;
      padding-top: 20px; }
      .blog-card .description p:after {
        content: "";
        background: #75D13B;
        height: 6px;
        width: 40px;
        /*POSITION*/
        position: absolute;
        top: 6px;
        left: 0; }
    .blog-card .description a {
      color: #75D13B;
      margin-bottom: 10px;
      float: right; }
      .blog-card .description a:after {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        content: "\f061";
        font-family: FontAwesome;
        margin-left: -10px;
        opacity: 0;
        vertical-align: middle; }
      .blog-card .description a:hover:after {
        margin-left: 5px;
        opacity: 1; }

@media screen and (min-width: 600px) {
  .blog-card {
    height: 300px;
    max-width: 750px; }
    .blog-card:hover .photo {
      transform: rotate(5deg) scale(1.3); }
    .blog-card:hover.alt .photo {
      transform: rotate(-5deg) scale(1.3); }
    .blog-card.alt .details {
      padding-left: 30px; }
    .blog-card.alt .description {
      float: right; }
      .blog-card.alt .description:before {
        transform: skewX(5deg);
        right: -15px;
        left: inherit; }
    .blog-card.alt .photo {
      float: right; }
    .blog-card .photo {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      float: left;
      height: 100%;
      width: 40%; }
    .blog-card .details {
      width: 40%; }
    .blog-card .description {
      float: left;
      width: 60%;
      z-index: 0; }
      .blog-card .description:before {
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0; } }

/*# sourceMappingURL=portfolio.css.map */
